

<div class="col-md-12">
	<div class="panel panel-default">
		<div class="panel-heading">All Projects</div>	
		<div class="panel-body">
			<div class="row">
				<div class="col-sm-12 col-md-3">
					<input type="text" class="form-control" placeholder="Search..." ng-model="filter.query">
				</div>
				<div class="add-item-panel col-sm-12 col-md-9">
					<a class="btn btn-success pull-right" title="Add" ui-sref="project.add" href="#/add">Add new Project</a>
				</div>
			</div>
		</div>

		<ul class="item-list list-group">
			<li 
				ng-click="goToItem(item)"
				ng-repeat="item in projects | filter: filter.query"
				class="list-group-item">
					<span ng-if="item.title">{{item.title}}</span>
			</li>
		</ul>
	</div>
</div>


