<!DOCTYPE html>
<html ng-app="openqi" ng-controller="AppCtrl" lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <title ng-cloak>{{pageTitle}} | Open QI</title>

        <!-- fav icon -->
        <!--<link rel="shortcut icon" href="assets/favicon.ico" type="image/x-icon" />-->
        <!-- !fav icon -->

        <!-- CSS -->
        <% styles.forEach( function ( file ) { %><link rel="stylesheet" type="text/css" href="<%= file %>" /><% }); %>
        <!-- !CSS -->

        <!-- analytics -->
        
        <!-- !analytics -->

    </head>
    
    <body>
        
        <!-- growls -->
        <div growl></div>
        <!-- !growls -->

        <!-- header -->
        <header>
            <div class="row">
                <div class="col-md-2">
                    <div class="logo">Open QI</div>
                </div>
                <div class="menu col-md-8">
                    <nav class="navbar navbar-default" role="navigation">
                        <ul class="nav navbar-nav">
                            <li class="nav-item" ng-repeat="item in mainMenuItems" ui-route="{{item.url}}" ng-class="{active: $uiRoute}">
                                <a href="/#{{item.url}}" ng-cloak>{{item.name}}</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="col-md-2">
                    <div class="user pull-right dropdown-toggle" data-toggle="dropdown">
                        <img alt="" src="assets/images/user.jpg">
                    </div>

                    <a class="btn btn-default settings pull-right dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-2x fa-cog"></i>
                        <span class="caret"></span>
                    </a>

                    <ul class="dropdown-menu pull-right" role="menu">
                        <li ng-repeat="item in accountMenuItems" ui-route="{{item.url}}" ng-class="{active: $uiRoute}">
                            <a href="/#{{item.url}}">{{item.name}}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </header>
        <!-- !header -->

        <!-- view -->
        <div class="container" ui-view="main"></div>
        <!-- !view -->
        
        <!-- footer -->
        <footer>
            <small>Copyright &copy; OpenQI 2013</small>
        </footer>
        <!-- !footer -->
        
        <!-- javascript -->
        <% scripts.forEach( function ( file ) { %><script type="text/javascript" src="<%= file %>"></script><% }); %>
        <!-- !javascript -->

    </body>

</html>



