<!DOCTYPE html>
<html ng-app="openqi" ng-controller="AppCtrl" lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <title ng-cloak>{{pageTitle}} | Open QI</title>

        <!-- fav icon -->
        <!--<link rel="shortcut icon" href="assets/favicon.ico" type="image/x-icon" />-->
        <!-- !fav icon -->

        <!-- CSS -->
        <% styles.forEach( function ( file ) { %><link rel="stylesheet" type="text/css" href="<%= file %>" /><% }); %>
        <!-- !CSS -->

        <!-- analytics -->
        
        <!-- !analytics -->

    </head>
    
    <body>
        
        <!-- growls -->
        <div growl></div>
        <!-- !growls -->

        <!-- header -->
        <header>
            <div class="row">

            </div>
        </header>
        <!-- !header -->

        <!-- view -->
        <div class="container" ui-view="main"></div>
        <!-- !view -->
        
        <!-- footer -->
        <footer>
            <small>Copyright &copy; OpenQI 2013</small>
        </footer>
        <!-- !footer -->
        
        <!-- javascript -->
        <% scripts.forEach( function ( file ) { %><script type="text/javascript" src="<%= file %>"></script><% }); %>
        <!-- !javascript -->

    </body>

</html>